@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

$primary: {{ .Site.Params.primaryColor | default "#02ba70" }};
$secondary: {{ .Site.Params.secondaryColor | default "#63ffb4" }};
$warningBoxColor: {{ .Site.Params.warningBoxColor | default "#f5e4f9" }};
$noticeBoxColor: {{ .Site.Params.noticeBoxColor | default "#dfe5f4" }};
$white: #fff;
$gray: #666;
$black: #363636;

body {
	color: $black;
  font-family: 'Fira Sans', sans-serif;
}

a {
	color: $primary;
	text-decoration: none;
}
a:hover {
	color: $secondary;
	text-decoration: none;
}

pre {
	border-radius: 4px;
	padding: 1rem;
}

blockquote {
	margin: 0 0 2rem 0;
	padding: 1rem 0rem 1rem 2rem;
	border-left: 8px solid $primary;

	p {
		margin: 0;
		color: $gray;
	}
}

:not(pre) > code {
	border: 1px solid lighten($gray, 28%);
	border-radius: 3px;
	background-color: lighten($gray, 50%);
	padding: 1px 2px 1px;
}

button.button-primary {
	background-color: $primary;
	border-color: $primary;
}
button.button-primary:hover {
	background-color: $secondary;
	border-color: $secondary;
}

.container {
	max-width: 1200px;
}

header {
	border-bottom: 1px solid lighten($gray, 50%);

	h2 {
		font-size: 35px;
		padding: 2rem 0 0 0;

		a {
			color: $black;
			text-decoration: underline;
		}
		a:hover {
			color: $gray;
			text-decoration: underline;
		}
	}

	small {
		font-size: 20px;
		color: $gray;
	}
}

nav.sidebar {
	padding: 4rem 0;
	margin-bottom: 0;

	img {
		max-width: 100%;
	}

	p {
		text-align: right;
		color: $black;
	}

	.internal-nav {
		list-style: none;
		font-size: 28px;
		padding: 0 1rem;
		text-align: right;

		li a {
			color: $black;
		}
		a:hover {
			color: $gray;
		}
	}

	.external-nav {
		list-style: none;
		padding: 0 1rem;
		text-align: right;
		font-size: 30px;

		li {
			display: inline;
		}
		li a {
			color: $black;
		}
		a:hover {
			color: $gray;
		}
	}
}

main.content {
	padding: 4rem 0;
	margin-bottom: 0;

	aside {
		padding: 1rem;
		margin-bottom: 2rem;
	}
	aside.warning {
		background-color: $warningBoxColor;
	}
	aside.notice {
		background-color: $noticeBoxColor;
	}

	ul.pagination {
		list-style: none;
	}
	ul.pagination li {
		display: inline;

		a button {
			padding: 0 20px;
			font-size: 14px;
		}
		a button.active {
			color: $white;
			background-color: $black;
		}
	}

	.posts {
		list-style: none;

		article {
			border-bottom: 1px solid lighten($gray, 50%);

			a {
				color: $black;
			}
			a:hover {
				color: $gray
			}

			.date {
				color: $gray;
			}
		}
	}
}

footer {
	text-align: center;
	padding: 0 2rem;
	line-height: 4rem;
	color: $gray;
}
