$hero: url("{{ .Site.Params.heroImage }}");

$primary: {{ .Site.Params.primaryColor | default "#606585" }};
$secondary: {{ .Site.Params.secondaryColor | default "#000000" }};
$warningBoxColor: {{ .Site.Params.warningBoxColor | default "#f5e4f9" }};
$noticeBoxColor: {{ .Site.Params.noticeBoxColor | default "#dfe5f4" }};
$lightGray: #eee;
$white: #fff;
$gray: #666;
$black: #222;

a {
	color: $primary;
	text-decoration: none;
}
a:hover {
	color: $secondary;
}
a.heading {
	color: $black;
}
a.heading:hover {
	color: $secondary;
}

pre {
	border-radius: 4px;
	padding: 1rem;
}

:not(pre) > code {
	border: 1px solid lighten($primary, 28%);
	border-radius: 3px;
	background-color: lighten($primary, 38%);
	padding: 1px 2px 1px;
}

button.button-primary {
	background-color: $primary;
	border-color: $primary;
}
button.button-primary:hover {
	background-color: $secondary;
	border-color: $secondary;
}

header {
	padding: 1.5rem 0 1.5rem 0;

	h2 {
		font-size: 34px;
	}
	small {
		font-size: 20px;
	}
}

.container {
	max-width: 1100px;
}

footer {
	text-align: center;
	padding: 0 2rem;
	line-height: 4rem;
}

main .content {
	padding: 4rem 0;
	margin-bottom: 0;

	aside {
		padding: 1rem;
		margin-bottom: 2rem;
	}
	aside.warning {
		background-color: $warningBoxColor;
	}
	aside.notice {
		background-color: $noticeBoxColor;
	}

	ul.pagination li {
		display: inline;

		a button {
			font-size: 14px;
		}
	}
}
