<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ .Page.Title }}{{ if (ne .Page.Title .Site.Title) }} | {{ .Site.Title }}{{ end }}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		{{ $normalize := resources.Get "css/normalize.css" }}
		{{ $skeleton := resources.Get "css/skeleton.css"  }}
		{{ $syntax := resources.Get "css/syntax.css"  }}
		{{ $main := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS  }}
		{{ $css := slice $normalize $skeleton $syntax $main | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint }}
		<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
		<link rel="icon" type="{{ .Site.Params.favicon }}" href="{{ .Site.Params.favicon }}">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="twelve columns">
						<h2>
							<a href="">{{ .Site.Title }}</a>
							<small>Stuff and nonsense.</small>
						</h2>
					</div>
				</div>
			</div>
		</header>

		<section class="container">
			<div class="row">
				<nav class="two columns">
					<img/>
					<div>
						About me and stuff
					</div>
					<ul>
						<li>Home</li>
						<li>About</li>
						<li>Archive</li>
					</ul>
					<ul>
						<li>Link 1</li>
						<li>Link 2</li>
					</ul>
				</nav>
				<main class="ten columns">
					<div class="content">
						{{ block "main" . }}
							{{ .Content }}
						{{ end }}
					</div>
				</main>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					&copy;2022 {{ .Site.Title }}
				</div>
			</div>
		</footer>
	</body>
</html>
