<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ .Page.Title }}{{ if (ne .Page.Title .Site.Title) }} | {{ .Site.Title }}{{ end }}</title>
		<meta name="description" content="{{ .Site.Params.description }}">
		<meta name="author" content="{{ .Site.Author.name }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
		{{ $normalize := resources.Get "css/normalize.css" }}
		{{ $skeleton := resources.Get "css/skeleton.css"  }}
		{{ $syntax := resources.Get "css/syntax.css"  }}
		{{ $fontawesome := resources.Get "css/fontawesome.css" }}
		{{ $main := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS  }}
		{{ $css := slice $normalize $skeleton $syntax $fontawesome $main | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint }}
		<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
		<link rel="icon" type="{{ .Site.Params.favicon }}" href="{{ .Site.Params.favicon }}">
	</head>
	<body>
		<header class="container">
			<div class="row">
				<div class="twelve columns">
					<h2>
						<a href="/">{{ .Site.Title }}</a>
						<small>{{ .Site.Params.motto }}</small>
					</h2>
				</div>
			</div>
		</header>

		<section class="container">
			<div class="row">
				<nav class="three columns sidebar">
					<a href="/">
						<img src="{{ .Site.Params.logoImage }}" alt="{{ .Site.Title }}"/>
					</a>
					<ul class="internal-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/projects">Projects</a></li>
					</ul>
					<ul class="external-nav">
						{{ if .Site.Params.githubLink }}
						<li>
							<a href="{{ .Site.Params.githubLink }}" target="_blank">
								<i class="fa-brands fa-github"></i>
							</a>
						</li>
						{{ end }}
						{{ if .Site.Params.keybaseLink }}
						<li>
							<a href="{{ .Site.Params.keybaseLink }}" target="_blank">
								<i class="fa-brands fa-keybase"></i>
							</a>
						</li>
						{{ end }}
						{{ if .Site.Params.linkedInLink }}
						<li>
							<a href="{{ .Site.Params.linkedInLink }}" target="_blank">
								<i class="fa-brands fa-linkedin"></i>
							</a>
						</li>
						{{ end }}
					</ul>
				</nav>
				<main class="nine columns content">
					{{ block "main" . }}
						{{ .Content }}
					{{ end }}
				</main>
			</div>
		</section>

		<footer class="container">
			<div class="row">
				&copy;{{ dateFormat "2006" now }} {{ .Site.Title }}
			</div>
		</footer>
	</body>
</html>
